* {
    margin: 0;
    padding: 0;
}
#header {
    position: absolute;
    z-index: 10;
    width: 100%;
}
.navbar {
    padding: 50px 0;
}
.navbar-brand{
    font-weight: bold;
    font-size: 1.5em;
    text-transform: uppercase;
    color: #ccc !important;
}
.nav-item {
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 50px;
}
.nav-link {
    color: #ccc !important;
    letter-spacing: 2px;
    font-size: 1em;
    font-weight: 700;
}
.nav-link:hover{
    background: #dcdde1 !important;
    color: #262626 !important;
    border-radius: 5px;
    transition: all 0.6 ease 0s;
}
.main {
    position: relative;
    background: url(/images/nav33.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 20% 14%;
}
.main h2 {
    font-size: 2.6em;
    color: #dcdde1;
    text-transform: uppercase;
    font-weight: bold;
}
.main p {
    margin-top: 1em;
    padding: 0;
    font-size: 16px;
    color: #fff;
    padding-bottom: 25px;
}
.main .readMore {
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
}
#rooms {
    margin-top: 4rem;
    background-image: url("../images/bgRooms3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:bottom;
    height:75vh;
}
.container {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    height: 100%;
    background: rgba(250, 350, 250, 0.6);

}
.rooms-suites {
    margin-top: 3rem;
    font-size: 3rem;
    color: #173E57;
    font-family: monospace;
    font-weight: lighter;
}
.description {
    margin: 1rem 3rem 0 3rem;
    padding: 4rem;
    font-size: 1.5rem;
    justify-content: center;
    color: #09335A;
    font-family: monospace;

}