* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container-fluid {
    height: 5.4rem;
}
#header {
    position: absolute;
    z-index: 10;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
}
.navbar {
    padding: 50px 0;
}
.navbar-brand{
    font-weight: bold;
    font-size: 1.5em;
    text-transform: uppercase;
    color: #fff !important;
}
.nav-item {
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 50px;
}
.nav-link {
    color: #fff !important;
    letter-spacing: 2px;
    font-size: 1em;
    font-weight: 700;
}
.nav-link:hover{
    background: #dcdde1 !important;
    color: #262626 !important;
    border-radius: 5px;
    transition: all 0.6 ease 0s;
}
.main {
    position: relative;
    background: url(../images/bgIndex.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 20% 14%;
}
.main .container {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    height: 13rem;
}
.main h2 {
    font-size: 2.6em;
    color: #dcdde1;
    text-transform: uppercase;
    margin: 0.8rem;
    font-weight: 300;
}
.main p {
    margin: 1.2rem 0;
    font-size: 16px;
    color: #fff;
    font-weight: 200;
}
.main .readMore {
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    border-radius: 5px;
    padding: 0.5rem;
    text-decoration: none;
}
#rooms {
    background-image: url("../images/bgRooms4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:bottom;
    height:90vh;
}
.containerRooms {
    margin: 0;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content:end;
    align-items:start;
    height: 100%;
    background: rgba(250, 350, 250, 0.3);
}
.rooms-suites {
    margin: 7rem 0 0 4rem;
    font-size: 2.6em;
    color: #fff;
    font-weight: 200;
    text-transform: uppercase;
}
.description {
    margin: 0 3rem 10rem 3rem;
    padding: 1rem;
    font-size: 1.5rem;
    justify-content: center;
    color: #fff;
    font-weight: lighter;
}
.shop-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 6rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5), -1px -1px 2px #aaa,

}
#cards h2 {
    text-transform: uppercase;
    color: #262626;
    margin-bottom: 8rem;
}
.btn-cards {
    align-items: center;
    background-color: transparent;
    color: black;
    cursor: pointer;
    display: flex;
    font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    text-decoration: none;
    text-transform: uppercase;
    outline: 0;
    border: 0;
    padding: 1rem;
    margin-left: 3rem;
}
.btn-cards:before {
    background-color: black;
    content: "";
    display: inline-block;
    height: 1px;
    margin-right: 10px;
    transition: all .80s cubic-bezier(.25,.8,.25,1);
    width: 0;
}  
.btn-cards:hover:before {
    background-color: black;
    width: 3rem;
}
#cartContainer {
    display: flex;
    flex-direction: column;
    margin: 0 10%;
    align-items:center;
    justify-items: center;
    width: 80%;
    max-height: 80%;
    background: rgba(0, 0, 0, 0.8);
    color: #cbe4eb;
    position: fixed;
    overflow: auto;
    z-index: 9;
    top: 12vh;
    border-radius: 1%;

}
.modal-header{
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    color: #cbe4eb;
    width: 80%;
}
.modal-header-button {
    cursor: pointer;
}
.selectedRoom {
    margin-top: 3rem;
    width: 90%;
    height: 70%;
    font-size: 1.2rem;
    font-family: monospace;
    display: flex;
    justify-content: space-between;
}
.selectedRoom img {
    width: 20%;
}
.roomBooked {
    margin: 2rem 1.7rem;
}
.roomBookedRoom {
    margin: 2rem 0.6rem;
    text-align: center;
}
.roomBookedName {
text-transform: uppercase;
max-width: 15%;
margin: 2%;
}
.totalCart {
    margin: 2rem 1rem;
    font-size: 1.4rem;
    font-family: monospace;
}
.remove-room {
    align-items: center;
    background-color: transparent;
    color:#cbe4eb;
    display: flex;
    font-family: monospace;
    font-size: 1rem;
    line-height: 1.5;
    text-decoration: none;
    text-transform: uppercase;
    outline: 0;
    border: 0;
}
.remove-room:before {
    background-color: #cbe4eb;
    content: "";
    display: inline-block;
    height: 1px;
    margin-right: 10px;
    transition: all .80s cubic-bezier(.25,.8,.25,1);
    width: 0;
}
.remove-room:hover:before {
    background-color: #cbe4eb;
    width: 3rem;
}
.subtract {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.add {
    display: flex;
    align-items: center;
    cursor: pointer;
}
#weather {
display: flex;
justify-content: end;
font-size: 0.9em;
text-transform: uppercase;
color: #fff;    
padding: 1%;
}
.date-picker{
    width: 100%;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right top, #cdc48c, #beb688, #afa984, #a19b80, #928e7c);    
    margin-bottom: 3rem;
}
.formDate {
    margin-top: 0.5rem;
    width: 50%;
    height: 2rem;
    display: flex;
    justify-content: center;
}
.finish {
        margin-top: 1rem;
        align-items: center;
        background-color: transparent;
        color:#cbe4eb;
        display: flex;
        font-family: monospace;
        font-size: 1rem;
        line-height: 1.5;
        text-decoration: none;
        text-transform: uppercase;
        outline: 0;
        border: 0;
    }
.finish a {
    text-decoration: none;
    color:#cbe4eb;
}
    .finish:before {
        background-color: #cbe4eb;
        content: "";
        display: inline-block;
        height: 1px;
        margin-right: 10px;
        transition: all .80s cubic-bezier(.25,.8,.25,1);
        width: 0;
    }
    .finish:hover:before {
        background-color: #cbe4eb;
        width: 3rem;
    }


/* TC´S */
.contenedor {
	width: 90%;
	max-width: 1000px;
	padding:10rem;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
    text-align: end;
}

/* ---------- Estilos Generales de las Tarjetas ----------*/
.tarjeta {
	width: 100%;
	max-width: 550px;
	position: relative;
	color: #fff;
	transition: .3s ease all;
	transform: rotateY(0deg);
	transform-style: preserve-3d;
	cursor: pointer;
	z-index: 2;
}

.tarjeta.active {
	transform: rotateY(180deg);
}

.tarjeta > div {
	padding: 30px;
	border-radius: 15px;
	min-height: 315px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-shadow: 0 10px 10px 0 rgba(90,116,148,0.3);
}

/* ---------- Tarjeta Delantera ----------*/

.tarjeta .delantera {
	width: 100%;
	background: url(../images/cCard1.jpg);
	background-size: cover;
}

.delantera .logo-marca {
	text-align: right;
	min-height: 50px;
}

.delantera .logo-marca img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	max-width: 80px;
}

.delantera .chip {
	width: 100%;
	max-width: 50px;
	margin-bottom: 20px;
}

.delantera .grupo .label {
	font-size: 16px;
	color: #fff;
	margin-bottom: 5px;
}

.delantera .grupo .numero,
.delantera .grupo .nombre,
.delantera .grupo .expiracion {
	color: #fff;
	font-size: 22px;
	text-transform: uppercase;
}

.delantera .flexbox {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

/* ---------- Tarjeta Trasera ----------*/
.trasera {
	background: url(../images/cCard1.jpg);
	background-size: cover;
	position: absolute;
	top: 0;
	transform: rotateY(180deg);
	backface-visibility: hidden;
}

.trasera .barra-magnetica {
	height: 40px;
	background: #000;
	width: 100%;
	position: absolute;
	top: 30px;
	left: 0;
}

.trasera .datos {
	margin-top: 60px;
	display: flex;
	justify-content: space-between;
}

.trasera .datos p {
	margin-bottom: 5px;
}

.trasera .datos #firma {
	width: 70%;
}

.trasera .datos #firma .firma {
	height: 40px;
	background: repeating-linear-gradient(#719bac 0, #719bac  5px, grey 5px, grey 10px);
}

.trasera .datos #firma .firma p {
	line-height: 40px;
	color: #000;
	font-size: 30px;
	padding: 0 10px;
	text-transform: capitalize;
}

.trasera .datos #ccv {
	width: 20%;
}

.trasera .datos #ccv .ccv {
	background: #fff;
	height: 40px;
	color: #000;
	padding: 10px;
	text-align: center;
}

.trasera .leyenda {
	font-size: 14px;
	line-height: 24px;
}

.trasera .link-banco {
	font-size: 14px;
	color: #fff;
}

/* ---------- Contenedor Boton ----------*/
.contenedor-btn .btn-abrir-formulario {
	width: 50px;
	height: 50px;
	font-size: 20px;
	line-height: 20px;
	background: #2364d2;
	color: #fff;
	position: relative;
	top: -25px;
	z-index: 3;
	border-radius: 100%;
	box-shadow: -5px 4px 8px rgba(24,56,182,0.4);
	padding: 5px;
	transition: all .2s ease;
	border: none;
	cursor: pointer;
}

.contenedor-btn .btn-abrir-formulario:hover {
	background: #1850b1;
}

.contenedor-btn .btn-abrir-formulario.active {
	transform: rotate(45deg);
}

/* ---------- Formulario Tarjeta ----------*/
.formulario-tarjeta {
	background: #fff;
	width: 100%;
	max-width: 700px;
	padding: 150px 30px 30px 30px;
	border-radius: 10px;
	position: relative;
	top: -150px;
	z-index: 1;
	clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
	transition: clip-path .3s ease-out;
}

.formulario-tarjeta.active {
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.formulario-tarjeta label {
	display: block;
	color: #7d8994;
	margin-bottom: 5px;
	font-size: 16px;
}

.formulario-tarjeta input,
.formulario-tarjeta select,
.btn-enviar {
	border: 2px solid #CED6E0;
	font-size: 18px;
	height: 50px;
	width: 100%;
	padding: 5px 12px;
	transition: .3s ease all;
	border-radius: 5px;
}

.formulario-tarjeta input:hover,
.formulario-tarjeta select:hover {
	border: 2px solid #93BDED;
}

.formulario-tarjeta input:focus,
.formulario-tarjeta select:focus {
	outline: rgb(4,4,4);
	box-shadow: 1px 7px 10px -5px rgba(90,116,148,0.3);
}

.formulario-tarjeta input {
	margin-bottom: 20px;
	text-transform: uppercase;
}

.formulario-tarjeta .flexbox {
	display: flex;
	justify-content: space-between;
}

.formulario-tarjeta .expira {
	width: 100%;
}

.formulario-tarjeta .ccv {
	min-width: 100px;
}

.formulario-tarjeta .grupo-select {
	width: 100%;
	margin-right: 15px;
	position: relative;
}

.formulario-tarjeta select {
	-webkit-appearance: none;
}

.formulario-tarjeta .grupo-select i {
	position: absolute;
	color: #CED6E0;
	top: 18px;
	right: 15px;
	transition: .3s ease all;
}

.formulario-tarjeta .grupo-select:hover i {
	color: #93bfed;
}

.formulario-tarjeta .btn-enviar {
	border: none;
	padding: 10px;
	font-size: 22px;
	color: #fff;
	background: #2364d2;
	box-shadow: 2px 2px 10px 0px rgba(0,85,212,0.4);
	cursor: pointer;
}

.formulario-tarjeta .btn-enviar:hover {
	background: #1850b1;
}
    