* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#header {
    position: absolute;
    z-index: 10;
    width: 100%;
}
.navbar {
    padding: 50px 0;
}
.navbar-brand{
    font-weight: bold;
    font-size: 1.5em;
    text-transform: uppercase;
    color: #fff !important;
}
.nav-item {
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 50px;
}
.nav-link {
    color: #fff !important;
    letter-spacing: 2px;
    font-size: 1em;
    font-weight: 700;
}
.nav-link:hover{
    background: #dcdde1 !important;
    color: #262626 !important;
    border-radius: 5px;
    transition: all 0.6 ease 0s;
}
/* #iconCart {
    display: flex;
    justify-content: end;
} */
.main {
    position: relative;
    background: url(../images/bgIndex.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 20% 14%;
}
.main .container {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    height: 13rem;
}
.main h2 {
    font-size: 2.6em;
    color: #dcdde1;
    text-transform: uppercase;
    margin: 0.8rem;
    font-weight: 300;
}
.main p {
    margin: 1.2rem 0;
    font-size: 16px;
    color: #fff;
    font-weight: 200;
}
.main .readMore {
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    border-radius: 5px;
    padding: 0.5rem;
    text-decoration: none;
}
#rooms {
    background-image: url("../images/bgRooms4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:bottom;
    height:90vh;
}
.containerRooms {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    height: 100%;
    background: rgba(250, 350, 250, 0.3);

}
.rooms-suites {
    margin-top: 7rem;
    font-size: 3rem;
    color: #173E57;
    font-family: monospace;
    font-weight: lighter;
}
.description {
    margin: 0 3rem 0 3rem;
    padding: 1rem;
    font-size: 1.5rem;
    justify-content: center;
    color: #09335A;
    font-family: monospace;
}
.shop-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 6rem;
}
#cards h2 {
    text-transform: uppercase;
    color: #262626;
    margin-bottom: 8rem;
    font-family: monospace;
}
.btn-cards {
    align-items: center;
    background-color: transparent;
    color: black;
    cursor: pointer;
    display: flex;
    font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    text-decoration: none;
    text-transform: uppercase;
    outline: 0;
    border: 0;
    padding: 1rem;
    margin-left: 3rem;
}
      
.btn-cards:before {
    background-color: black;
    content: "";
    display: inline-block;
    height: 1px;
    margin-right: 10px;
    transition: all .80s cubic-bezier(.25,.8,.25,1);
    width: 0;
}
      
.btn-cards:hover:before {
    background-color: black;
    width: 3rem;
}
#cartContainer {
    display: flex;
    flex-direction: column;
    margin: 0 10%;
    align-items:center;
    justify-items: center;
    width: 80%;
    max-height: 80%;
    background-color: #262626;
    color: #cbe4eb;
    position: fixed;
    overflow: auto;
    z-index: 9;
    top: 12vh;
    border-radius: 1%;

}
.modal-header{
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    background-color: #262626;
    color: #cbe4eb;
    width: 80%;
}
.modal-header-button {
    cursor: pointer;
}
.selectedRoom {
    margin-top: 3rem;
    width: 90%;
    height: 70%;
    font-size: 1.2rem;
    font-family: monospace;
    display: flex;
    justify-content: space-between;
}
.selectedRoom img {
    width: 20%;
}
.roomBooked {
    margin: 2rem 1rem;
}
.roomBookedName {
text-transform: uppercase;
max-width: 15%;
margin: 2%;
}
.totalCart {
    margin: 2rem 1rem;
    font-size: 1.4rem;
    font-family: monospace;
}
.remove-room {
    align-items: center;
    background-color: transparent;
    color:#cbe4eb;
    display: flex;
    font-family: monospace;
    font-size: 1rem;
    line-height: 1.5;
    text-decoration: none;
    text-transform: uppercase;
    outline: 0;
    border: 0;
}
.remove-room:before {
    background-color: #cbe4eb;
    content: "";
    display: inline-block;
    height: 1px;
    margin-right: 10px;
    transition: all .80s cubic-bezier(.25,.8,.25,1);
    width: 0;
}
.remove-room:hover:before {
    background-color: #cbe4eb;
    width: 3rem;
}
